/* prevents unexpected behavior across browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* LIQUID LOADER ANIMATION */
body {
    /* prevents jumpy animation loop */
    overflow: hidden;
}

.loader {
    position: absolute;
    display: flex;
    padding: 100px;
    align-items: center;
    /* background: #fff; */
    top: 50%;
    bottom: 50%;
    left: 20%;
    /* only works because position is absolute */
    transform: translate(-50%, -50%) rotate(0deg);
    animation: rotate 20s linear infinite;
    /* amazing filter effects! */
    filter: blur(1px) contrast(15);
}

/* .shadowLoader {
    position: absolute;
    display: flex;
    padding: 0px;
    align-items: center;
    background: transparent;
    top: 50%;
    bottom: 50%;
    left: 20%;
    animation: rotate 20s linear infinite;
    filter: blur(20px) contrast(10);
} */

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.particle {
    background-color: firebrick;
    /* background-color: #000; */
    /* background-color: cornsilk; */
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: 2;
}

.particle:first-child,
.particle:last-child {
    width: 25px;
    height: 25px;
}

.particle:nth-child(1),
.particle:nth-child(3),
.particle:nth-child(5),
.particle:nth-child(7),
.particle:nth-child(9) {
    animation: pulse 1.3s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }

    50% {
        transform: scale(1.9)
    }

    70% {
        transform: scale(0.6)
    }

    100% {
        transform: scale(1)
    }
}

.leftSpin {
    animation: leftSpin 2.5s linear infinite;
}

@keyframes leftSpin {
    from {
        transform: rotate(0deg) translateX(50px)
    }

    to {
        transform: rotate(360deg) translateX(50px)
    }
}

.rightSpin {
    animation: rightSpin 2.5s linear infinite;
}

@keyframes rightSpin {
    from {
        transform: rotate(360deg) translateX(50px)
    }

    to {
        transform: rotate(0deg) translateX(50px)
    }
}

/* adds random seeming animation motion */
.particle:nth-child(3) {
    animation-delay: .25s;
}

.particle:nth-child(5) {
    animation-delay: .75s;
}

.particle:nth-child(7) {
    animation-delay: 1.5s;
}

.particle:nth-child(9) {
    animation-delay: .3s;
}

/* RIPPLE ANIMATION BUTTON HOVER */
.container {
    width: 220px;
    position: relative;
    height: auto;
    margin: 70px auto;
    filter: url(#goo);
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    width: 220px;
    height: 80px;
    position: relative;
    margin-bottom: 60px;
    transition: .5s;
}

button span {
    display: block;
    width: 20px;
    height: 100%;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    background-color: dimgray;
    /* background-color: #000; */
    /* background-color: cornsilk; */
    transition: .7s cubic-bezier(0, 2, .7, 2);
}

button:hover span {
    height: 120%;
    transition: .4s cubic-bezier(.1, 1, .2, 4);
}

button span:nth-child(1) {
    transition-delay: .25s;
    left: 0;
}

button span:nth-child(2) {
    transition-delay: .2s;
    left: 20px;
}

button span:nth-child(3) {
    transition-delay: .15s;
    left: 40px;
}

button span:nth-child(4) {
    transition-delay: .1s;
    left: 60px;
}

button span:nth-child(5) {
    transition-delay: .05s;
    left: 80px;
}

button span:nth-child(6) {
    transition-delay: .0s;
    left: 100px;
}

button span:nth-child(7) {
    transition-delay: .05s;
    left: 120px;
}

button span:nth-child(8) {
    transition-delay: .1s;
    left: 140px;
}

button span:nth-child(9) {
    transition-delay: .15s;
    left: 160px;
}

button span:nth-child(10) {
    transition-delay: .2s;
    left: 180px;
}

button span:nth-child(11) {
    transition-delay: .25s;
    left: 200;
}

p {
    /* color: black; */
    color: cornsilk;
    font-size: 22px;
    z-index: 10;
    position: relative;
    transform: .5s;
}

button:hover p {
    font-size: 1.5em;
}

/* GOOEY BUTTONS */
.button {
    position: relative;
    width: 50px;
    height: 50px;
}

i {
    position: absolute;
    top: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 10;
    color: white;
}

/* MOUSE INTERACTIVE VECTOR FIELD */

#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    z-index: -1;
}

#canvas2 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: cornflowerblue;
    filter: blur(1px) contrast(1);
    z-index: -1;
}

#canvas3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}